<!--Didn't style this because it was created for 
just testing out chats. Chats will be implemented w/ posts 
so eventually this will be deleted.
-->
<h2>User List</h2>
  <p>Click a user below to chat with.</p>
  <ul>
    <%= for user <- @users do %>
      <li>
        <.link href={'/user_chat/#{user.id}'}>
          * <%= user.username %>
        </.link>
      </li>
    <% end %>
  </ul>