
<.header>
  item <%= @item.id %>
  <:subtitle>This is a test record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/photo/#{@item}"}>
      <.button> + Photo</.button>
    </.link>
  </:actions>
</.header>
<.item_form changeset={@changeset} action={~p"/items/#{@item}"} />

<div>
</div>
<.link navigate={~p"/myitems"}>Back to items</.link>
