<.header>
  New Item
  <:subtitle>Use this form to create your listing.</:subtitle>
</.header>

<.item_form changeset={@changeset} action={~p"/items"} />

<.back navigate={~p"/myitems"}>Back to items</.back>
