<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logged In - GregsList</title>
  <script src="https://cdn.tailwindcss.com"></script> <!-- Include Tailwind CSS -->
  <style>
    body {
      background-color: #f3f4f6; /* Light gray background */
      font-family: 'Helvetica', 'Arial', sans-serif; /* Clean, modern fonts */
    }
  </style>
</head>
<body class="min-h-screen flex flex-col justify-center items-center">

<body>
<h1> Now That You've Logged In... </h1>
<a href="/items">List an Item</a>
<h1><%= @current_user.username %></h1>
</body>
