<div>
    <img id="img1">
    </div>
    
    <form>
    <input type="file" id="upload-field">
    <button id="show-btn" type="button">Show </button>
    <div>
        <.link patch={~p"/items"}>+ Back</.link>
      </div>
    </form>
